@model Models.ViewModels.AuthenticateViewModel
@{
    ViewData["Title"] = "Authenticate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Authenticate</title>
    <link rel="stylesheet" type="text/css" href="~/css/user-authenticate.css" />
</head>
<body>
    <div class="wrapper">
        <form method="post" asp-controller="user" asp-action="authenticate" class="data-form">
            <input type="text" name="Username" placeholder="Username" class="username-field" />
            <input type="password" name="Password" placeholder="Password" class="password-field" />
            <button type="submit" class="submit-button">Sign in</button>
        </form>
    </div>
</body>
